button {
  background: white;
  font-size: 24px;
  height: 100px;
  border: 1px solid black;
  cursor: pointer;
}

.clear {
  grid-area: clear;
}
.seven {
  grid-area: seven;
}
.eight {
  grid-area: eight;
}
.nine {
  grid-area: nine;
}
.four {
  grid-area: four;
}
.five {
  grid-area: five;
}
.six {
  grid-area: six;
}
.three {
  grid-area: three;
}
.one {
  grid-area: one;
}
.two {
  grid-area: two;
}

.equals {
  color: white;
  background: red;
  grid-area: equals;
  font-weight: bold;
}
.plus {
  color: white;
  background: red;
  grid-area: plus;
  font-weight: bold;
}
.divide {
  color: white;
  background: red;
  grid-area: divide;
  font-weight: bold;
}
.times {
  color: white;
  background: red;
  grid-area: times;
  font-weight: bold;
}
.minus {
  color: white;
  background: red;
  grid-area: minus;
  font-weight: bold;
}

.ButtonGrid {
  width: 450px;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'clear clear equals plus'
    'seven eight nine minus'
    'four five six times'
    'one two three divide';
  column-gap: 0px;
  row-gap: 0px;
}




